@using BethanysPieShop.ViewModels
@model AdminCategoriesListViewModel

  <h2>Categories</h2>
         
@*<form method="get" asp-controller="Category" asp-action="List">*@
    @*@using (Html.BeginForm("List", "Category"))
    {
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" name="categoryName"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-outline-dark">
                        Search  
                    </button>
                </span>
            </div>
        </div>
    }*@

<form method="get" asp-controller="Category" asp-action="List">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" name="categoryName"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-outline-dark">
                    Search  
                </button>
            </span>
        </div>
    </div>
</form>


        

  @foreach (var category in Model.Categories)
  {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@category.CategoryName</h3>
        </div>
        <div class="panel-body">
            <span>Description: @category.Description</span>
            <span hidden="hidden">Description: @category.CategoryId</span>
        </div>
        <div class="panel-footer">
            <a class="btn btn-lg" asp-controller="Category" asp-action="Detail" asp-route-categoryId="@category.CategoryId">
                <i class="glyphicon glyphicon-zoom-in"></i>
            </a>
            <a class="btn btn-lg" asp-controller="Category" asp-action="Edit" asp-route-CategoryId="@category.CategoryId">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            @*<a class="btn btn-lg" onclientClicj>
                <i class="glyphicon glyphicon-trash"></i>
            </a>*@
            

        <form method="post" asp-action="Delete" asp-route-categoryId="@category.CategoryId">

        <span id="confirmDeleteSpan_@category.CategoryId" style="display:none">
            <span>Are you sure you want to delete?</span>
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="#" class="btn btn-primary"
                onclick="confirmDelete('@category.CategoryId', false)">No</a>
        </span>

        <span id="deleteSpan_@category.CategoryId">
            <a href="#" class="btn btn-danger"
                onclick="confirmDelete('@category.CategoryId', true)">Delete</a>
        </span>
        </form>



        </div>
    </div>      
  }


  @section Scripts{
      <script src="C:\Users\cingi\Desktop\Pluralsight\ASP.NET Core\Building Web Applications with ASP.NET Core 3 and 5 MVC\Projects\BethanysPieShop\BethanysPieShop\Areas\Admin\js\CustomScript.js"></script>
  }
